#fullname{
    font-size: large;
   }
#phno{
    font-size: large;
}
#email{
    font-size: large;
}
button{
    
    font-size: large;
    background-color: white;
    
    
}
label{
    font-size: large;
    font-weight: bold;
}
h2{
    display:flex;
    justify-content: center;

}
body{
    background-color: red;
}